*{
    margin: 0;
    padding: 0;
    color: rgb(77, 48, 20);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
}
header,footer{
    background: rgb(255, 204, 153,0.7);
}
h1{
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 15px;
}
h2{
    font-size: 26px;
    font-weight: 100;
}
a{
    position: relative;
}
.a:hover{
    top: -2px;
}
.bold{
    font-weight: bold;
}
.wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    position: relative;
}
.border-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 15px;
}
.btn-up{
    position: fixed;
    bottom: 28px;
    right: 28px;
    display: grid;
    grid-template-columns: 1fr;
    background: 	rgb(204, 153, 102);
    align-items: center;
    justify-items: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50px;
    color: gray;
}
.caret-up{
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}
.nav-content{
    display: grid;
    grid-template-columns: 1fr 1fr auto auto 1fr;
    gap: 10px;
    grid-template-areas: 'div . info instructions .';
}
.info{
    display: grid;
    grid-area: info;
    margin-right: 150px;
}
.instructions{
    display: grid;
    grid-area: instructions;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.paragraphs{
    margin-top: 20px;
}
li{
    color: rgb(204, 153, 102);
    font-size: 20px;
    margin: 5px 0;
}
.li{
    color: rgb(77, 48, 20);
}
.list-level-one{
    margin-left: 15px;
}
.list-level-two{
    margin-left: 25px;
}
.nav-border{
    border: 1px solid rgb(128, 128, 128,0.5);
}
.table-info{
    display: grid;
    grid-template-columns: minmax(200px,auto) minmax(200px,auto);
}
